<!DOCTYPE html>
<html lang="en">
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
	<meta charset="UTF-8">
	<title>学生成绩管理系统</title>
	<style>
		.bs-example{
			width:50%;
			padding: 20px;
		}
		.wrap {
			width: 150px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.mytd{
			width: 150px;
		}
	</style>
</head>
<body>
<div class="bs-example">
	<caption>学生列表</caption>
	<table class="table">
		<thead>
		<tr>
			<th>#</th>
			<th>姓名</th>
			<th>性别</th>
			<th>年龄</th>
		</tr>
		</thead>
		<tbody>
		{{ each students}}
		<tr>
			<td>{{ $value.id }}</td>
			<td class="mytd">
				<div class="wrap">{{ $value.name }}</div>
			</td>
			<td>{{ $value.gender }}</td>
			<td>{{ $value.age }}</td>
		</tr>
		{{ /each }}
		</tbody>
	</table>
</div>
</body>
</html>
